@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --breakpoint-400px: 400px;
  --breakpoint-800px: 800px;
  --breakpoint-1000px: 1050px;
  --breakpoint-1100px: 1110px;
  --breakpoint-1300px: 1300px;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
  background: #F6F6F5;
}